
nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top {
    position: sticky;
    top: 0;
    margin-top: -50px;
}.one{
  
    background-color: blue;
    margin-bottom: 2px;
    margin: 10px;
}
.two {
    background-color: yellow;
    margin-bottom: 2px;
    margin: 10px;
}
.three span  {
    
    background-color: silver;
    color: black;
   line-height: 50px;
    display: block;
    margin-top: 50px;
}


body {
    width: auto;
    padding-top: 5px;
    height: auto;
perspective: 200px;
margin-top: -58px;

}
.container-inner img {
    position: relative;
    right: 0;
    bottom: 20px;
}
.navbar a {
    position: relative;
    top: 6px;
}
.container-fluid {
    position: relative;
    top: -5px;
}
button[class="navbar"] {
  position: relative;
  top: 3px;
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: 100px;
}
.navbar-inverse .navbar-brand {
    color: black;
}
.dropdown-menu > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.42857143;
    color: lightgrey;
    white-space: nowrap;
    background-color: black;
    font-family: sans-serif;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    text-decoration: none;
    background-color: silver;
    padding: 3px 30px;
    transition: padding .3s ease;
}
.dropdown-menu .divider {
    height: 3px;
    margin: 5px 0px;
    overflow: hidden;
    
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px -2px 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: black;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgb(0 0 0 / 18%);
    box-shadow: 0 6px 12px rgb(0 0 0 / 18%);}
   
.navbar-right .dropdown-menu {
    right: auto;
    left: 0;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: 60px;
    margin-left: auto;
}
.navbar-brand {

    float: left;
    height: 45px;
    padding: 12px 15px;
    font-size: 21px;
    position: relative;
    left: 4px;
    top: 7px;
    
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #fff;
   
}
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand:hover {
color: white;
background-color: black;
}



.carousel-indicators{
    bottom: 10px;
}
.slide .carousel-indicators li{border: 2px solid whitesmoke;}

.ab{
    text-align: center;
    text-transform: capitalize;
    font-weight:bold;
    margin-top: -20px;
  
}


.features .container
{
    width: 100%;
    height: 170px;
    background-color: silver;
  
}
.features .container h3{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
}
.features .container .row{
    margin: 20px 150px 0px 200px;


}
.features .container .row h4{
    font-weight: bold;
}
.features .container .row p{
    margin-right: 85px;
}

.testimonials .container h1{
    margin-bottom: -80px;
    font-weight: bold;
}
.testimonials{
    padding-top: 30px;
    padding-bottom: 30px;
}
.testimonials .carousel-indicators{
    bottom: -90px;
}
.carousel-indicators .active {
    width: 12px;
    height: 12px;
    margin: 0;
  
}
.testimonials .carousel-indicators li{
    border: 2px solid black;
    margin-bottom: -30px;
    margin-right: 5px;
    text-indent: 0;
    width: 80px;
    height: 80px;
   opacity: .3;
   border-radius: 52%;
   overflow: hidden;
   padding: 0;
   transition: all .5s ease;
}

.testimonials .carousel-inner .item span{
    font-size: 18px;
    font-weight: bold;
    color: brown;
}
.testimonials .carousel-inner{
    height: 90px;
    padding-top: 20px;
    margin-top: 100px;
}
#carousel-example-generic .carousel-inner{
    margin-top: 155px;
}
.testimonials .carousel-indicators li img
{
        position: static;
       height: 100%;
        max-width: 100%;
        max-height: 100%;
        margin: 0;
        padding: 0;
        
}

.testimonials .carousel-indicators li.active
{
 background-color: none;
    opacity: 1;
}

.testimonials .carousel-inner .item{
    transition: all 1s ease-in-out;
}

#carousel-example-generic .carousel-inner .item{
    transition: all 1s ease-in-out;
}
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    max-width: 100%;
    height: 525px;
}

.price_table{
   background-color: lightgray;
border: 3px solid black;
height: auto;
padding-bottom: 20px;
margin-top: 30px;
margin-left: 20px;
margin-right: 12px;
}
.price_table .price_box{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 10%;
    margin: 0 15px 10px 15px;
}
.price_table .price_box p{
font-size: 25px;
font-weight: bold;
color: rgb(rgb(49, 43, 43), rgb(41, 43, 41), rgb(30, 30, 32));
width: 100px;
height: 100px;
background-color: lightgray;
line-height: 90px;
margin-top:20px;
margin-bottom: 5px;

border-radius: 50%;
}
.price_table .price_box ul{
    font-size: 20px;
    line-height: 50px;
}
.price_table .price_box a{
    margin-bottom: 10px;
}
.price_table .price_box:hover p{
    transform: rotate(360deg) scale(1.2,1.2);
    transition: all .5s ease-in-out;
    border-radius: 50%;
    border: 2px solid lightcoral;

}

#carousel-example-generic .carousel-inner {
    margin-top: 0;
    position: relative;
   
    height: 100%;
    margin-left: 175px;
    overflow: hidden;
    
    padding-top: 0;

}



#carousel-example-generic{
    margin-top:200px;
    position: relative;
    width:1000px;
    height: 400px;
    overflow: hidden;
   left: 0;

}
.our_team{
   padding-top: 10px;
  
}
.our-team{
    background-image: url(../project/photo_2021-03-29_21-49-49.jpg);
    background-color: silver;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    margin-top: 10px;

min-height: 400px;
}
.our-team .team{
    background-color: rgba(12, 12, 12, 0.9);
    color: lightgray;
    min-height: 400px;
    padding-top: 28px;
}
.our-team .team .row{
    margin-bottom: 40px;
}
.our-team .container{
    top: 0;
    
}
.our-team .container h1{
    margin-bottom: 50px;
}

.our-team .container .details img{
    margin-top: 50px;
    margin-left: 100px;
}
.our-team .container .details h3{
    margin-left: 110px;
}
.our-team .container .details span{
    margin-left: 110px;
}
.our-team .container .details i{
    margin-left: 10px;
}
.our-team .container .details img:hover{
    transform: rotate(360deg) scale(1.2,1.2);
    transition: all .5s ease-in-out;
}

.subscibe {
    background-color: rgba(57, 59, 57, 0.562);
    padding-bottom: 0;
    margin-bottom: 0;
}
.subscibe h2{
    color: rgba(49, 47, 47, 0.952);
}
.subscibe .container{

padding-bottom: 60px;
}

.stats{
    background-image: url(../project/photo_2021-03-29_21-36-59.jpg);
    background-attachment: fixed;
    background-position: center center; 
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
   

}
.stats .data{
    background-color: rgba(2, 2, 2, 0.85);
    min-height: 400px;
    color:  #dbd5d5;
    padding-bottom: 80px;
padding-top: 40px;
   
    
}
.statss{
    margin-bottom: 30px;
}
.statss:hover{
    color:lightblue;
    transition: all .3s ease-in-out;
}
.stats .data .container h1{
 
    margin-top: -20px;
}
.stats .container .statss p{
font-weight: 300;
font-size: xx-large;
margin-top: 10px;
margin-bottom: 0;

}
.stats .container .statss span{
    font-size: 18px;
}

.stats .row{
    margin-top: 70px;
    margin-left: 35px;
    margin-right:30px;
   
}
.our-skills{
    background-color: gray;
    padding-bottom: 100px;
}
.our-skills h1{
    margin-bottom: 60px;
}
.our-skills h3{
    margin-top: -4px;
    font-weight: bold;
}
.our-skills .progress{
    height: 35px;
}
.our-skills .progress-bar{
    line-height: 35px;
    font-size: 15px;
    font-weight: bold;
    text-align: left;
    text-indent: 10px;
}
.contact-us{
    background-size: cover;
  
  
    background-image: url(../skill.jpg);
    background-attachment: fixed;
    min-height: 400px;
    background-repeat: no-repeat;
    background-position: top center;
}
.fields{
    margin-top: -20px;
    padding-top: 90px;
    color: #999;
    min-height: 400px;
    background-color: rgba(2, 2, 2, 0.85) ;
}
.contact-us .fields i{
    
   margin-top: -40px;
   padding-bottom: 20px;
  
}
.contact-us .fields h1{
   margin-top: -20px;
  padding-bottom: 20px;
  padding-top: 10px;
}

.contact-us .fields p{
   margin-top: -20px;
padding-bottom: 20px;
}
.container textarea{
    height: auto;
    width: 100%;
}
.contact-us button{
    margin-bottom: 80px;
  margin-top: -6px;
}
.contact-us input[type="text"], .contact-us textarea{
    background-color: rgba(82, 78, 78, 0.65);
    color: #eee;
}

.our-clients{
    background-color: #777;
  
overflow: hidden;
padding: 35px 20px 10px;

}
.our-clients li img{

 margin-bottom: 30px;

opacity: .5;
}
.our-clients li img:hover{
    opacity: 1;
    transition: all .2s ease-in-out;
}
.footer{
    background-color:rgba(2, 2, 2, 0.9);
    color:#eee;
   
  
    padding-top: 70px;
}
.footer .row{
    padding-bottom: 40px;
    margin-top: -50px;
}
.footer h3{
   
    margin: 10px 0 30px;
}
.footer .ten{
    overflow: hidden;

}
.footer .ten li{
    width: 33.3333%;
    float: left;
    padding: 5px 0;
    margin-bottom: 10px;
}
.footer .social{
    overflow: hidden;
 margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
   
  
}


 
.our-team .row {
    margin-right: -15px;
    margin-left: -100px;
}
.footer .social li{
    float: left;
 
  opacity: .3;
  margin-bottom: 20px;

 margin-right: 20px;
}
 
.footer .social li:hover{
    opacity: 1;
    transition: all 0.2s ease-in-out;
}
.el{
    margin-bottom: 5px;
    margin-right: 10px;
}
.copywrite{
    background-color:#333 ;
    color: #aaa;
 
  padding-bottom: 10px;
  padding-top: 10px;
  margin-top: 0;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
     overflow: hidden;
     position: relative;
    left: 46px;
 }

@media (max-width:768px)
{
    .navbar-inverse .navbar-nav > li > a {
        color: red;
        float: right;
        position: relative;
        left: 46px;
        top: -8px;
        width: auto;
        height: auto;
    }
   
    .navbar-inverse .navbar-toggle {
        border-color: #333;
        margin-top: 15px;
        margin-right: 20px;
    }
    nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top {
        height: 53px;
    }
    .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
         margin-left: 30px; 
    }
    a.navbar-brand {
        margin-top: -68px;
        height: 43px;
    }
    .features .col-lg-3 {
        float: left;
        padding-left: 0;
        margin-left: -92px;
        display: flex;
        margin-bottom: 5px;
        padding-right: 15px;
    }
    .features .container .row h4 {
        font-weight: bold;
        padding-right: 90px;
        margin-top: 2px;
    }
    .features .container {
        width: 100%;
        height: 296px;
        background-color: silver;
    }
    .testimonials .lead {
        margin-bottom: 20px;
        /* font-size: 16px; */
        font-weight: 300;
        line-height: 1;
        width: auto;
    }
    .testimonials .carousel-inner {
        /* height: 90px; */
        padding-top: 20px;
        margin-top: 100px;
        padding: 20px;
    }
    .testimonials .carousel-control.right {
        margin-right: -11px;}
        .carousel-control.left {
            margin-left: -10px;}

            #carousel-example-generic {
                /* margin-top: 200px; */
                position: relative;
                width: auto;
                height: 300px;
                overflow: hidden;
                left: 0;
                margin-left: 14px;
            }
           #carousel-example-generic img {
                margin-left: -170px;
            }
           
            navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
                margin-left: 30px;
                margin-top: 3px;
            }
            .navbar-inverse .navbar-toggle {
                border-color: #333;
                margin-top: 15px;
                margin-right: -46px;
            }
            .navbar-inverse .navbar-nav > li > a {
                
                background: black;
                border: 1px solid silver;
                width: 236px;
                /* float: right; */
                margin-right: 0;
                /* padding-left: 117px; */
            }
            .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
                color: #eee;
                background-color: black;}
                .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
                   
                    background-color: black;
                    width: 237px;
                }
                .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
                    color: #fff;
                    background-color: black;
                }
                .navbar-nav .open .dropdown-menu {
                    position: static;
                    float: none;
                    width: auto;
                    margin-top: 6px;
                    /* background-color: transparent; */
                    border: 1;
                    -webkit-box-shadow: none;
                    box-shadow: none;
                }
                .dropdown-menu .divider {
                    height: 3px;
                    margin: 6px 0px;
                    overflow: hidden;
                    background-color: #b48d8d;
                }
                .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
                    
                    background-color: black;
                    width: 237px;
                    padding: 0px 32px 7px;
                }
                .navbar-nav .open .dropdown-menu {
                    position: static;
                    float: none;
                    width: auto;
                    margin-top: 6px;
                    background-color: black;
                    border: 1;
                    -webkit-box-shadow: none;
                    box-shadow: none;}
                    .navbar-inverse .navbar-nav .open .dropdown-menu .divider {
                        background-color: white;
                    }
                    .btn-lg, .btn-group-lg > .btn {
                        padding: 10px 16px;
                        font-size: 18px;
                        line-height: 1.3333333;
                        border-radius: 6px;
                        margin-top: 10px;
                    }
                    .our-skills .container {
                        position: relative;
                        top: 24px;
                    }
                  
                
                    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
                         max-height: none;
                        
                    }
                    .navbar-collapse.in {
                         overflow-y: visible
                    }
                    .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
                        max-height: none;
                    }
                    .price_table {
                        background-color: lightgray;
                        border: 3px solid black;
                        height: auto;
                        padding-bottom: 20px;
                        margin-top: 162px;
                        margin-left: 20px;
                        margin-right: 12px;
                    }
                    .our-team .row {
                        margin-right: -15px;
                        margin-left: -110px;
                    }
}
.option-box{
 position: sticky;
 top: 100px;
 left: 0;
z-index: 9999;

}
.color-option{
    width: 170px;
   float: left;
    background-color: #333;
    color: #eee;
    margin-right: 5px;
    padding-right: 5px;
    padding-left: 5px;
    
   display: none;
   
}
.option-box .color-option ul li{
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 3px;
}
nav.navbar.navbar-default.navbar-inverse.navbar-fixed-top {
    position: sticky;
    top: 0;
    margin-top: 0;
    margin-bottom: 50px;
    padding-bottom: 0;
}
.option-box .gear-check{
    color: white;
   
    padding: 5px;
    cursor: pointer;
}
 .loading{
     width: 100%;
     height: 100%;
     position: absolute;
     background-color: #222;
     color: #fff;
     z-index: 99999;
     top: 0;
     left: 0;
 }
 .loading h1{
     margin-top: 60px;
     margin-left: 10px;
 }

 #scroll-up{
width: 50px;
height: 40px;
background-color: #272727;
color: #ddd;
text-align: center;
position: sticky;
z-index: 999999;;
margin-top: 20px;
bottom: 5px;
float: right;
display: none;
 }
 .scroll-up:hover{
     color: white;
 }

 .breadcrumb a{
    top: 0;
}
.breadcrumb{
    padding: 0px;
    padding-left: 5px;
   margin-top: 10px;
   margin-bottom: 10px;
}
.about-us img{
   margin-top: 20px;
     margin-bottom: 10px;
}
.about-us h1{
    letter-spacing: -3px;
    font-weight: bold;
    font-size: 40px;
}
.about-us{
    padding: 10px 0;
}
.about-us hr{
    width: 75%;
    color: black;
  
}
 .about-features{
     padding: 20px 0 30px;
 }
  .about-features h3{
    letter-spacing: -1px;
    font-weight: bold;
   
  }
  .about-features p{
      margin-bottom: 30px;
  }


 
  .about-ceo{
      background-color: #eee;
      padding-top: 0;
      margin-bottom: 10px;
      margin-right: 20px;
     
  }
  .about-ceo p{
      line-height: 2;
  }
  .about-ceo h2{
      letter-spacing: -1px;
      font-weight: 600;
  }
  .about-ceo button{
      background-color: #333;
      border-color: #333;
    
  }